h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #FFD740;
    text-shadow: 0 3px 8px rgba(0,0,0,0.56);
    text-transform: uppercase;
}
header {
    background-color: #E91E63;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin: 0;
}
body {
    background-image: url('images/lasunset.jpg');
    background-size: cover;
}
* {
    font-family: Noto Sans;
}
.outerTextDiv {
    background-color: #F48FB1;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.36);
}
.outerTextDivLarge {
    height: 300px;
    margin: 20px;
}
.outerTextDivSmall {
    height: 120px;
    margin: 2% 25%;
}
.optionDiv{
    position: relative;
    left: 15%;
    background-color: #F8BBD0;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 12px rgba(0,0,0,0.56);
}
.outerTextDiv:hover {
    background-color: #F06292;

}
.optionDiv:hover {
    background-color: #F48FB1;
}
.innerTextDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    background-color: whitesmoke;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.innerTextDivSmall {
    height: 15%;
    top: 75%;
    transform: translate(-50%, 0);
    font-size: 1.5em;
}
.innerTextDivLarge {

}
.innerTextDiv h2 {
    color: rgba(0, 0, 0, .83);
    text-align: center;

}
.question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.nameInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: whitesmoke;
    border-bottom: 1px solid #E91E63;
}
.nameInput:focus {
    outline: 0;
}
.optionDiv img {
    height: 70%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    border: 12px solid #FFD740;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .36);
}
.avatarDiv {
    position: relative;
    height: 60%;
    background-color: #FFD740;
    margin: 0 1.5%;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .36);
}
.avatarDiv img {
    height: 90%;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    color: #FFD740;
    background-color: #E91E63;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .45);
    border: none;
    padding: 1%;
    font-size: 1.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
button:focus {
    outline: 0;
}
.playDiv {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#playButton {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .8);
}
#playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.assignedAvatar {
    background-color: #E91E63;
}

.outerLabelDiv{
    position: relative;
    bottom: 5%;
    left: 15%;
    height: 60px;
    margin: 20px;
    border-radius: 3px;
    background-color: #E91E63;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.innerLabelDiv {
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    text-align: center;
    color: rgba(0, 0, 0, .83);
    font-size: 1.5em;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.userAvatar {
    margin-top:5px;
}
#userName{
    text-align: center;
    font-weight: 800;
}
.userAvatarDiv {
    background-color: #FFD740;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .36);
}
.avatarImage {
    margin-top: 5px;
}
.optionChosen {
    font-size: 2em;
}